Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceRecurso/UPCNETServiceRecurso1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services.upcnet.upc.com/" targetNamespace="http://Services.upcnet.upc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editRecurso" type="tns:editRecurso" />
  <xs:element name="editRecursoResponse" type="tns:editRecursoResponse" />
  <xs:element name="getRecurso" type="tns:getRecurso" />
  <xs:element name="getRecursoResponse" type="tns:getRecursoResponse" />
  <xs:element name="setRecurso" type="tns:setRecurso" />
  <xs:element name="setRecursoResponse" type="tns:setRecursoResponse" />
  <xs:complexType name="editRecurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:recurso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recurso">
    <xs:sequence>
      <xs:element name="cantidadHoras" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPedido" type="tns:date" />
      <xs:element minOccurs="0" name="IDAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="IDProfesor" type="xs:string" />
      <xs:element minOccurs="0" name="IDRecurso" type="xs:string" />
      <xs:element minOccurs="0" name="nombreRecurso" type="xs:string" />
      <xs:element name="reservado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="editRecursoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="setRecurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:recurso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setRecursoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getRecurso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getRecursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:recurso" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>