Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceCategoria/UPCNETServiceCategoria1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Services.upcnet.upc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UPCNETServiceCategoria" targetNamespace="http://Services.upcnet.upc.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCategoria?xsd=1" namespace="http://Services.upcnet.upc.com/" />
    </xsd:schema>
  </types>
  <message name="getCategoria">
    <part name="parameters" element="tns:getCategoria" />
  </message>
  <message name="getCategoriaResponse">
    <part name="parameters" element="tns:getCategoriaResponse" />
  </message>
  <message name="setCategoria">
    <part name="parameters" element="tns:setCategoria" />
  </message>
  <message name="setCategoriaResponse">
    <part name="parameters" element="tns:setCategoriaResponse" />
  </message>
  <message name="editCategoria">
    <part name="parameters" element="tns:editCategoria" />
  </message>
  <message name="editCategoriaResponse">
    <part name="parameters" element="tns:editCategoriaResponse" />
  </message>
  <portType name="UPCNETServiceCategoria">
    <operation name="getCategoria">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCategoria/getCategoriaRequest" message="tns:getCategoria" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCategoria/getCategoriaResponse" message="tns:getCategoriaResponse" />
    </operation>
    <operation name="setCategoria">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCategoria/setCategoriaRequest" message="tns:setCategoria" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCategoria/setCategoriaResponse" message="tns:setCategoriaResponse" />
    </operation>
    <operation name="editCategoria">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCategoria/editCategoriaRequest" message="tns:editCategoria" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCategoria/editCategoriaResponse" message="tns:editCategoriaResponse" />
    </operation>
  </portType>
  <binding name="UPCNETServiceCategoriaPortBinding" type="tns:UPCNETServiceCategoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UPCNETServiceCategoria">
    <port name="UPCNETServiceCategoriaPort" binding="tns:UPCNETServiceCategoriaPortBinding">
      <soap:address location="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCategoria" />
    </port>
  </service>
</definitions>