Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceCategoria/UPCNETServiceCategoria1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services.upcnet.upc.com/" targetNamespace="http://Services.upcnet.upc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editCategoria" type="tns:editCategoria" />
  <xs:element name="editCategoriaResponse" type="tns:editCategoriaResponse" />
  <xs:element name="getCategoria" type="tns:getCategoria" />
  <xs:element name="getCategoriaResponse" type="tns:getCategoriaResponse" />
  <xs:element name="setCategoria" type="tns:setCategoria" />
  <xs:element name="setCategoriaResponse" type="tns:setCategoriaResponse" />
  <xs:complexType name="setCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setCategoriaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="editCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editCategoriaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCategoria">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCategoria" type="xs:string" />
      <xs:element name="monto" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>