Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceCiclo/UPCNETServiceCiclo1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Services.upcnet.upc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UPCNETServiceCiclo" targetNamespace="http://Services.upcnet.upc.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCiclo?xsd=1" namespace="http://Services.upcnet.upc.com/" />
    </xsd:schema>
  </types>
  <message name="editCiclo">
    <part name="parameters" element="tns:editCiclo" />
  </message>
  <message name="editCicloResponse">
    <part name="parameters" element="tns:editCicloResponse" />
  </message>
  <message name="setCiclo">
    <part name="parameters" element="tns:setCiclo" />
  </message>
  <message name="setCicloResponse">
    <part name="parameters" element="tns:setCicloResponse" />
  </message>
  <message name="getCiclo">
    <part name="parameters" element="tns:getCiclo" />
  </message>
  <message name="getCicloResponse">
    <part name="parameters" element="tns:getCicloResponse" />
  </message>
  <portType name="UPCNETServiceCiclo">
    <operation name="editCiclo">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCiclo/editCicloRequest" message="tns:editCiclo" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCiclo/editCicloResponse" message="tns:editCicloResponse" />
    </operation>
    <operation name="setCiclo">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCiclo/setCicloRequest" message="tns:setCiclo" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCiclo/setCicloResponse" message="tns:setCicloResponse" />
    </operation>
    <operation name="getCiclo">
      <input wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCiclo/getCicloRequest" message="tns:getCiclo" />
      <output wsam:Action="http://Services.upcnet.upc.com/UPCNETServiceCiclo/getCicloResponse" message="tns:getCicloResponse" />
    </operation>
  </portType>
  <binding name="UPCNETServiceCicloPortBinding" type="tns:UPCNETServiceCiclo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="editCiclo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="setCiclo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCiclo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UPCNETServiceCiclo">
    <port name="UPCNETServiceCicloPort" binding="tns:UPCNETServiceCicloPortBinding">
      <soap:address location="http://localhost:8080/UPCNETSystemWebService/UPCNETServiceCiclo" />
    </port>
  </service>
</definitions>