Proyecto/UPCNETSystemCliente/UPCNETSystemCliente/Service References/UPCNETServiceCurso/UPCNETServiceCurso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services.upcnet.upc.com/" targetNamespace="http://Services.upcnet.upc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editCurso" type="tns:editCurso" />
  <xs:element name="editCursoResponse" type="tns:editCursoResponse" />
  <xs:element name="getCursoById" type="tns:getCursoById" />
  <xs:element name="getCursoByIdResponse" type="tns:getCursoByIdResponse" />
  <xs:element name="getCursos" type="tns:getCursos" />
  <xs:element name="getCursosResponse" type="tns:getCursosResponse" />
  <xs:element name="setCurso" type="tns:setCurso" />
  <xs:element name="setCursoResponse" type="tns:setCursoResponse" />
  <xs:complexType name="getCursoById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCursoByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="cicloDeCurso" type="xs:int" />
      <xs:element minOccurs="0" name="idCurso" type="xs:string" />
      <xs:element minOccurs="0" name="idProfesor" type="xs:string" />
      <xs:element name="maxInasistencia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCursos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editCursoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="setCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setCursoResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>