Proyecto/UPCNETSystemCliente/UPCNETUnitTesting/Service References/UPCNETServiceCiclo/UPCNETServiceCiclo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Services.upcnet.upc.com/" targetNamespace="http://Services.upcnet.upc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="editCiclo" type="tns:editCiclo" />
  <xs:element name="editCicloResponse" type="tns:editCicloResponse" />
  <xs:element name="getCiclo" type="tns:getCiclo" />
  <xs:element name="getCicloResponse" type="tns:getCicloResponse" />
  <xs:element name="setCiclo" type="tns:setCiclo" />
  <xs:element name="setCicloResponse" type="tns:setCicloResponse" />
  <xs:complexType name="editCiclo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:ciclo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciclo">
    <xs:sequence>
      <xs:element name="boleta1" type="xs:boolean" />
      <xs:element name="boleta2" type="xs:boolean" />
      <xs:element name="boleta3" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="IDCiclo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editCicloResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCiclo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCicloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ciclo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setCiclo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:ciclo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setCicloResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>